.navbar{
   z-index: 50 !important;
   
 


}
.cartIconWrapper{
  position:relative;
}

.cartIcon{
  font-size:20px;
}


.cartIconLength{
  position:absolute;
  
  margin-top:-5px;
  background:red;
  color:white;
  font-size:10px;
  border: red;
  border-radius: 10px;
  padding:1px 3px 1px 3px;
  opacity:0.8;
  text-align:center;
}

.navlink{
  color:white !important;
  font-weight: bolder;
}